<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers shop</title>
    <link rel="stylesheet" href="view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Baloo+Paaji+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="nav-main">
            <a href="#"><img src="img/Black and White Simple Modern Sportswear Logo.png" alt="LOGO" class="nav-brand"></a>
            <ul class="nav-menu">
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Usadas</a></li>
                <li><a href="#">Nuevas</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">Subastas</a></li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
        <hr class="util">

        <header class="showcase">
            <img src="" alt=""><img src="" alt=""><img src="" alt="">
        </header>
    </div>
    <div id="login">
        <form action="" method="post">
            <h1>Sneakers Shop</h1>
            <label for="user">Usuario: <br>    
                <input type="text" placeholder="Username"><br><br>
            </label>
            <label for="password">
                Contraseña: <br>
                <input type="password" placeholder="Password">
            </label>
        </form>
        <br><button type="submit">Iniciar sesión</button>
    </div>
</body>
</html>