<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers shop</title>
    <link rel="stylesheet" href="./css/view.cs">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Baloo+Paaji+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="nav-main">
            <a href="#"><img src="img/Black and White Simple Modern Sportswear Logo.png" alt="LOGO" class="nav-brand"></a>
            <ul class="nav-menu">
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Usadas</a></li>
                <li><a href="#">Nuevas</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">Subastas</a></li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                  <a href="#">
                    <i class="fas fa-search"></i>
                  </a>
                </li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
        <hr class="util">

        <header class="showcase">
            <div class="img-elements">
                <img src="img/1.jpg" alt="" class="imag">
                <img src="img/2.jpg" alt="" class="imag">
                <img src="img/3.jpg" alt="" class="imag">
            </div>
        </header>
        <hr class="util">

        <div class="content">
            <div class="content-img">
                <img src="img/4.jpg" alt="" class="imag">
            </div>
            <div class="products">
                <div class="product1">
                    Imagen
                </div>
                <div class="product2">
                    Imagen
                </div>
                <div class="product3">
                    Imagen
                </div>
                <div class="product4">
                    Imagen
                </div>
                <div class="product5">
                    Imagen
                </div>
                <div class="product6">
                    Imagen
                </div>
            </div>
            <hr class="util">
        </div>
        <header class="showcase">
            <div class="img-elements">
                <img src="img/1.jpg" alt="" class="imag">
                <img src="img/2.jpg" alt="" class="imag">
                <img src="img/3.jpg" alt="" class="imag">
            </div>
        </header>

        <footer>
            <div class="cont1">
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
            </div>
            <div class="cont3">
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
            </div>
            <div class="cont3">
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
                <p>Texto</p>
            </div>
        </footer>
    </div>
</body>
</html>